@import '@/styles/common.scss';
@import '@/styles/design.scss';

.list {
  width: #{$width};
  height: 500px;
  border: 2px solid #{$--color-bg-5};
  padding: 5px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: auto;
  @include scrollbar;
}
